.content{
    background-color: rgb(236, 231, 222);
    border-radius: 0.5em;
    padding: 0.3em 2em;
    margin-top: 40px;
    margin-bottom: 100px;
}

.content img{
   /*Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 20%;
    max-width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.content h2{
    font-size: 1.6em;
    margin-bottom: 0px;
}

.content p{
    font-size: 1em;
    margin-bottom: 0.5em;
}

.content span{
    font-weight: bold;
}